<h1>Goal: {{ model?.Name }}</h1>

<button
  class="uk-button-secondary uk-button uk-margin-small-right uk-margin-small-top"
  [routerLink]="model?.EditUrl"
>
  Edit: {{ model?.Name }}
</button>
<button
  class="uk-button-danger uk-button uk-margin-small-top"
  [routerLink]="model?.DeleteUrl"
>
  Delete: {{ model?.Name }}
</button>

@if (model?.Description) {
  <pre class="uk-text-default">{{ model?.Description }}</pre>
}

<p>Complete By: {{ model?.CompleteBy }}</p>

<p>Associated Habits:</p>
<ul>
  @for (habit of associatedHabits; track habit) {
    <li>
      <a [routerLink]="habit.ViewUrl">
        {{ habit.Name }}
      </a>
    </li>
  }
</ul>

<p>Associated Tasks:</p>
<ul>
  @for (task of associatedTasks; track task) {
    <li>
      <a [routerLink]="task.ViewUrl">
        {{ task.Name }}
      </a>
    </li>
  }
</ul>
