<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th class="hide-in-mobile">Description</th>
      <th class="hide-in-mobile">Importance</th>
      <th>Due Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (model of models(); track model) {
      <tr>
        <td>
          <input
            [(ngModel)]="model.Completed"
            (change)="changeState.emit(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>
        <td>
          <a [routerLink]="model.ViewUrl" class="uk-link uk-text-secondary">
            {{ model.Name }}
          </a>
        </td>
        <td class="hide-in-mobile">
          @if (model.Description) {
            <p class="description">
              {{ model.Description }}
            </p>
          } @else {
            <i>No description</i>
          }
        </td>
        <td class="hide-in-mobile">{{ model.ImportanceHuman }}</td>
        <td [ngClass]="{ 'uk-text-danger': model.isOverdue }">
          @if (model.CompleteBy) {
            {{ model.CompleteBy }}
          } @else {
            <i>No date set</i>
          }
        </td>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button uk-button-small uk-button-default uk-margin-small-right"
            >View</a
          >
        </td>
      </tr>
    }
  </tbody>
</table>
