<h1>Habit: {{ model?.Name }}</h1>

<button
  class="uk-button-secondary uk-button uk-margin-small-right uk-margin-small-top"
  [routerLink]="model?.EditUrl"
>
  Edit: {{ model?.Name }}
</button>
<button
  class="uk-button-danger uk-button uk-margin-small-top"
  [routerLink]="model?.DeleteUrl"
>
  Delete: {{ model?.Name }}
</button>

@if (model?.Description) {
  <pre>{{ model?.Description }}</pre>
}

<p>
  Is Anti Habit:
  <fa-icon [icon]="model?.AntiHabit ? faCheck : faXmark"></fa-icon>
</p>

@if (model?.IsQuantifiable) {
  <p>
    Completed Value: {{ model?.TimesCompletedToday }} / {{ model?.TargetValue }}
  </p>
}

@if (goalModel) {
  <p>
    Associated Goal:
    <a [routerLink]="goalModel.ViewUrl">
      {{ goalModel.Name }}
    </a>
  </p>
}

<h2>Completed Dates</h2>

<ul>
  @for (completedDate of recentCompletedDates; track completedDate) {
    <li>
      {{ completedDate }}
    </li>
  }
</ul>

@if (model) {
  <app-calendar-heatmap
    [data]="model.FormattedCompletedDates"
  ></app-calendar-heatmap>
}
